// colors
$gery-300:#D5D5D5;
$gery-500:#717071;

$red:#FF5A22;
$blue:#036EB8;
$green: #02aea4;
$green-light:#2FC9E0;
$green-deep:#66E29B;
$brown:#827A75;
$brown-deep:#423A36;
// spacing
$full-space: 40px;
$lg-space: 25px;
$half-space: 20px;
$md-space: 15px;
$space: 5px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--ssm: 14px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

//
$res-collection: (320, 480, 768, 1024, 1280, 1680);
$orientation-collection: (all, portrait, landscape);
$hdpi-collection: (1, 2);
$hdtv-collection: ('720p', '1080', '2K', '4K');

$mq-mobile: 768px;
$mq-tablet: 1024px;