<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="J1stio,Zeninfor"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Zeninfor</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
</head>
<body id="tell-us">
<div class="header-container">
    <header class="container" >
        <div class="row">
            <div class="logo col-xs-2 ">
            </div>
            <div  class=" col-md-3 col-xs-4">
                <a  href="javascript:void(0);" onClick="javascript:history.back(-1);" class="company-name">返回</a>
            </div>
        </div>
    </header>
</div>
    <div class="header-linear ">
        <h1>J1ST DO IT.</h1>
        <span></span>
        <button id="to-console">Sign up</button>
    </div>
    <div class="text-schedule container">
        <div class="row">
            <span class="col-md-8 col-md-offset-2 span-first">Schedule your demo</span>
            <span class="col-md-8 col-md-offset-2 span-second">安排你的专属演示，发现合作契机</span>
        </div>
    </div>
    <div class="container" id="mail-form">
        <form>
            <div class="two-input-group row">
                <div class="form-group two-input col-md-5 " >
                    <input placeholder="姓 名" maxlength="10" class="form-control" id="a-name" name="name" data-bv-notempty data-bv-notempty-message="姓名不能为空哦">
                </div>
                <div class="form-group two-input col-md-5 input-margin-left">
                    <input placeholder="手机号码" maxlength="15"  class="form-control" id="a-email" name="mobile" data-bv-notempty data-bv-notempty-message="请留下手机号码方便我们与您联系" >
                </div>
            </div>
            <div class="two-input-group row">
                <div class="form-group two-input col-md-5">
                    <input placeholder="电子邮件" maxlength="20" class="form-control" id="a-phone" name="email" data-bv-notempty data-bv-notempty-message="邮箱请您也留下哦">
                </div>
                <div class="form-group two-input col-md-5 input-margin-left">
                    <input placeholder="公司名称(可选项)" maxlength="20" class="form-control" id="a-company" name="company">
                </div>
            </div>
            <div class="form-group one-input-group">
                <input placeholder="办公地址(可选项)" maxlength="40" class="form-control" id="a-adress" name="address">
            </div>
            <div>
                <select class="" id="select" name="rofessional" >
                    <option value="">- 选择行业或领域 - </option>
                    <option value="消费电子 ">- 消费电子  Commercial Appliance</option>
                    <option value="楼宇自动化 ">- 楼宇自动化  Automotive</option>
                    <option value="设计 / 咨询">- 设计 / 咨询  Design House / Consultant</option>
                    <option value="工业自动化 ">- 工业自动化  Industrial Automation</option>
                    <option value="照明 / 电工">- 照明 / 电工  Lighting / Electrician</option>
                    <option value="分销及零售商">- 分销及零售商  Retailer</option>
                    <option value="电子硬件研发">- 电子硬件研发  Hardware R&D</option>
                    <option value="风险投资者">- 风险投资者  Venture investor</option>
                    <option value="其他">- 其他   Others</option>
                </select>
            </div>
            <div>
                <textarea id="thought-idea"   placeholder="   具体说明您的需求和想法，谢谢！" name="advice" maxlength="500"></textarea>
            </div>
            <button  id="form-sub" type="button">联系销售</button>
        </form>
    </div>
    <div id="full-stack-two">
        <h1>Full-Stack</h1>
        <h3>IoT Startup</h3>
        <img src="../img/head.png">
        <button onclick="location.href='quickstart.html'">QuickStart</button>
    </div>
<footer class="container" id="footer">
    <div class="row">
        <p class="col-md-5">© 2016 Zeninfor Co.,Ltd&nbsp&nbsp&nbsp沪ICP备16017154号-1</p>
        <div class="nav_group col-md-3">
            <a target="_blank" href="term.html">Terms</a>
            <a target="_blank" href="term.html">Privacy</a>
            <a>About</a>
        </div>
    </div>
</footer>
    <script src="../js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script>

        var toconsole=$("#to-console");
        $(document).ready(
           function () {
               toconsole.click(
                       function () {
                           window.open("http://console.j1st.io");
                       }
               );
               $(".logo").click(
                       function () {
                           window.location.href="../index.html";
                       }
               );
               $("form").bootstrapValidator({
                   feedbackIcons: {
                   }
               })
           }
        );
        $(document).ready(

        );

    </script>
</body>
</html>