<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="J1stio,Zeninfor"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Zeninfor</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body id="join-in">
<div class="header-container">
    <header class="container" >
        <div class="row">
            <div class="logo col-xs-2 ">

            </div>
            <div  class=" col-md-3 col-xs-4">
                <a  href="javascript:void(0);" onClick="javascript:history.back(-1);" class="company-name">返回</a>
            </div>
        </div>
    </header>
</div>
<div id="header-img" class="container">
    <div class="col-md-8 col-xs-12">
        <img src="../img/Solution.png">
    </div>
    <div class="header-img-text col-md-3">
        <div class="row">
            <h1 class="col-md-8 col-md-offset-2">j1st.io</h1>
            <button class="col-md-6 col-md-offset-3" onclick="location.href='quickstart.html'">Quickstart</button>
        </div>
    </div>
</div>
<div class="container" id="feature-container">
    <div id="feature">
       <div class="left-text">
           <div>
               <p>无论哪个行业，对市场地位的追求，是每个品牌内置的原力。为了达到目的，即使我们把竞争发展成一门艺术，也不敌变化莫测的市场趋势和技术变革。伤心的故事那么多，根本不需要举例子了。</p>
               <p>同样无需举例的，是我们已经身处，由物联网驱动的大数据引擎和机器智能之中。对于“Non-Internet”的品牌而言，绝非“Winter is Coming”。</p>
               <p>物联网创造的，不是手机控制所有通电的联网硬件；而是“硬件”生态的变革奇点。最终，决定硬件生产者地位的，首先当然是硬件销售数量；更重要的，也许会是联网硬件的“数具”规模，以及其活跃性、开放度和分析价值。</p>
               <p>产品规模越大、活跃性和开放度越高，“数具”的价值就越高。好在当下每个人都清楚“数据就是金钱”。不过更需要知道：和金钱一样，流动、交换的数据才获得定价，具有价值。</p>
               <p>所以，传统硬件品牌都会变成物联网品牌？</p>
               <p>绝对从来都不对。</p>
               <h1>Vision</h1>
           </div>
       </div>
        <div class="left-text">
            <div>
                <p>物联网颠覆的，只是不联网的数据和联网的杯具。硬件生产者能否把当前市场的产品规模，迅速转变成未来市场的”数具优势“，意味着觉醒和决断。很快，生产者和消费者几乎只有“放弃数据所有权，依附巨头。”或者“创造数具定价权，联盟共赢。”的生存选择。</p>
                <p>适者生存的哲学体现在“敏捷”，绝不重复发明轮子。具有一定市场规模的硬件品牌，只需专注自身优势，挖掘有效的产品联网需求，迅速将产品的物理规模，直接变革为数具规模；数据是硬件产品的伴生物，硬件只销售一次；但数据的活性和分析价值，可以不断发生交易。传统企业深耕的战略是激活自己的数具价值，而不是去变成大数据公司。</p>
                <h1>Agility</h1>
            </div>
        </div>
        <div class="left-text">
            <div>
                <p>互联网展示的，几乎都是众生伏于多金而强大的巨兽脚下，等待被吞噬，成为其一部分；这是世界的基础生态，毕竟精华的才会被吸收，垃圾只能被排泄。</p>
                <p>既然新陈代谢驱动着一切。</p>
                <p>“正因科技”相信一股新力量在未知角落崛起，他们不会吸纳你的数据（=金钱）而不开存单；他们不会控制众人的数据（=资产）获利，并且独占收益；更不会用你的数据挟持你。</p>
                <p>商业的原力，无论哪一面都绝非不食人间烟火。但你可以选择伙伴，决断未来。J1ST.IO和你，原力的另一面。</p>
                <h1>Open</h1>
            </div>
        </div>
    </div>
    <img id="rocket" src="../img/rocket.png">
    <img id="left-window" class="xs-hide" src="../img/left-window.png">
    <img id="right-window" class="xs-hide"  src="../img/right-window.png">
    <div id="full-stack" class="container" style="">
        <div class="row">
            <h1 class="col-md-8 col-md-offset-2">Full-Stack</h1>
            <h3 class="col-md-8 col-md-offset-2">IoT Startup</h3>
            <button class="col-md-2 col-md-offset-5" id="to-console">试试免费服务</button>
            <span class="col-md-8 col-md-offset-2 span-first">所有个人或组织创建的“开放”产品，J1ST.IO 始终提供免费服务；并且，支持用户近乎无限的</span>
            <span class="col-md-8 col-md-offset-2 span-second">物联网产品连接和平台服务。享受充满创意的产品开发吧！</span>
        </div>
    </div>
</div>
<div id="front-foot">
    <div id="join-us"class="container">
        <div class="row join-us-1">
            <span class="col-md-4 col-md-offset-4">Schedule your demo</span>
        </div>
        <div class="row join-us-2">
            <span class="col-md-6 col-md-offset-3">安排你的专属演示，发现合作契机</span>
        </div>
        <button class="join-us-3" id="to-tellus">联系销售</button>
    </div>
</div>
<footer class="container" id="footer">
    <div class="row">
        <p class="col-md-5">© 2016 Zeninfor Co.,Ltd&nbsp&nbsp&nbsp沪ICP备16017154号-1</p>
        <div class="nav_group col-md-3">
            <a>Terms</a>
            <a>Privacy</a>
            <a>About</a>
        </div>
    </div>
</footer>
<script src="../js/jquery.min.js"></script>
<script>
    $(".logo").click(
            function () {
                window.location.href="../index.html";
            }
    );
    $("#to-console").click(
            function () {
                window.open("http://developer.j1st.io")
            }
    );
    $("#to-tellus").click(
            function(){
                window.location.href="tellus.html";
            }
    )
</script>
<script src="../js/windowanimate.js"></script>
</body>
</html>