<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="J1stio,Zeninfor"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Zeninfor</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body id="join-in">
<header class="container" >
    <div class="row">
        <div class="logo col-xs-2 ">
            <img src="../img/logo_h.png" id="logo-b">
        </div>
        <div  class=" col-md-3 col-xs-4">
            <a  href="javascript :;" onClick="javascript :history.back(-1);" class="company-name">返回</a>
        </div>
    </div>
</header>
<div id="header-img" class="container">
    <div class="col-md-8">
        <img src="../img/Solution.png">
    </div>
    <div class="header-img-text col-md-3">
        <div class="row">
            <h1 class="col-md-8 col-md-offset-2">j1st.io</h1>
            <button class="col-md-6 col-md-offset-3" onclick="location.href='quickstart.html'">Quickstart</button>
        </div>
    </div>
</div>
<div class="container">
    <div id="feature">
       <div class="left-text">
           <div>
               <p>物联网创造的价值，不是手机控制所有通电的联网硬件；而是“硬件”生态的变革奇点。“制造成本”不再统治整个硬件世界，“数据定价”取而代之。</p>
               <p>最终，决定硬件生产者价值和地位的，首先当然是硬件销售数量；更重要的，也许是联网硬件的“数具”规模，及其活跃性、开放度和分析价值。产品规模越大、活跃性和开放度越高，“数具”的价值就越高。</p>
               <h1>Vision</h1>
           </div>
       </div>
        <div class="left-text">
            <div>
                <p>物联网颠覆的世界，必然是所有传统行业被互联网巨头冲击和控制。但也会崛起新力量，支撑硬件生产者转型；或者诞生新联盟，展示另一面的原力。</p>
                <p>硬件生产者能否把当前市场的产品规模，迅速转变成未来市场的”数具优势“，意味着觉醒和决断。未来，生产者和消费者几乎只有“放弃数据所有权，依附巨头。”，或者“创造数具定价权，依托联盟。”的生存方式。</p>
                <h1>Agility</h1>
            </div>
        </div>
        <div class="left-text">
            <div>
                <p>互联网展示的力量，几乎都是众生伏于多金的巨兽脚下，等待被吞噬，成为其一部分；这是世界的基础生态，毕竟优秀的才会被吸收，垃圾最终只能被排泄。</p>
                <p>新陈代谢是驱动世界的根本；革新诞生，就是原力的另一面。革新，源自于不安分伏于巨兽脚下的人。敢于不安分的人，会死的很难看；一群不安分的人，若“同而不合”，还是会死的很难看；“合而不同”才可以聚集开放创新的新力量。</p>
                <h1>Open</h1>
            </div>
        </div>
    </div>
    <div id="full-stack" class="container" style="">
        <div class="row">
            <h1 class="col-md-8 col-md-offset-2">Full-Stack</h1>
            <h3 class="col-md-8 col-md-offset-2">IoT Startup</h3>
            <button class="col-md-2 col-md-offset-5">试试免费服务</button>
            <span class="col-md-8 col-md-offset-2 span-first">所有个人或组织创建的“开放”产品，J1ST.IO 始终提供免费服务；并且，支持用户近乎无限的</span>
            <span class="col-md-8 col-md-offset-2 span-second">物联网产品连接和平台服务。享受充满创意的产品开发吧！</span>
        </div>
    </div>
</div>
<div id="front-foot">
    <div id="join-us"class="container">
        <div class="row join-us-1">
            <span class="col-md-4 col-md-offset-4">Schedule your demo</span>
        </div>
        <div class="row join-us-2">
            <span class="col-md-6 col-md-offset-3">安排你的专属演示，发现合作契机。</span>
        </div>
        <button class="join-us-3">联系销售</button>
    </div>
    <div id="about-us" class="container">
        <div class="row">
            <span class="col-md-1 col-xs-2 col-xs-offset-2">Terms</span>
            <span class="col-md-1 col-xs-2">Privacy</span>
            <span class="col-md-1 col-xs-2">About</span>
        </div>
    </div>
</div>
<footer class="container" id="footer">
    <div id="footer-log">
        <p>© 2016 Zeninfor Co.,Ltd&nbsp&nbsp&nbsp沪ICP备16017154号-1</p>
        <img src="../img/logo_w.png">
    </div>
</footer>
</body>
</html>