<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="J1stio,Zeninfor"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Zeninfor</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body id="join">
<header class="container" >
   <div class="row">
       <div class="logo col-xs-2 ">
           <img src="../img/logo_h.png" id="logo-b">
       </div>
       <div  class=" col-md-3 col-xs-4">
           <span class="company-name">返回</span>
       </div>
   </div>
</header>
<div id="think-img" class="container">
    <div>
        <div class="right-register">
            <p>j1st.io</p>
            <button>Sign Up</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="" id="teco">
        <div class="left-text">
            <div>
                <p>其实工作，如同每天出门时的一身行头，鲜衣怒马，偏要惹人侧目；朴素低调，就爱独自个性。全看穿在别人眼里，还是穿在自己身上。<br/>- 全文 -</p>
            </div>
            <h1>Technology</h1>
            <div class="worker">
                <span>Embedded.嵌入式：</span>
                <i>加盟 ZE</i>
                <p>熟悉 Linux、RTOS 等嵌入式环境，积累了I2C、SPI、UART等接口的实际开发经验；精通C/C++编程，具备 TCP/IP 网络应用的实际产品开发经验；</p>
            </div>
            <div class="worker">
                <span>Server application . 服务器应用：</span>
                <i>加盟 ZE</i>
                <p>熟悉 JAVA Spring MVC 开发方式，具备 NIO、AMQP、机器学习、Hadoop 方向的实际产品开发经验；</p>
            </div>
            <div class="worker">
                <span>Web application.前端应用:</span>
                <i>加盟 ZE</i>
                <p>熟悉 Nodejs，使用 AngularJS、JQuery 任一开发框架，独立完成前台应用开发；</p>
            </div>
            <div class="worker">
                <span>Phone APP.手机应用:</span>
                <i>加盟 ZE</i>
                <p>能够独立完成 Android、iOS、Windows 任一手机平台的 APP 应用；</p>
            </div>
        </div>
    </div>
    <div id="market">
        <div class="left-think">
            <span>Marketing</span>
        </div>
        <div class="right-think"><img src="../img/Recruit-2.png"></div>
    </div>
    <div id="full-stack" class="container">
        <div class="row">
            <h1 class="col-md-8 col-md-offset-2">Full-Stack</h1>
            <h3 class="col-md-8 col-md-offset-2">IoT Startup</h3>
            <button class="col-md-2 col-md-offset-5">试试免费服务</button>
            <span class="col-md-8 col-md-offset-2 span-first">所有个人或组织创建的“开放”产品，J1ST.IO 始终提供免费服务；并且，支持用户近乎无限的</span>
            <span class="col-md-8 col-md-offset-2 span-second">物联网产品连接和平台服务。享受充满创意的产品开发吧！</span>
        </div>
    </div>
</div>
<div id="front-foot">
    <div id="join-us"class="container">
        <div class="row join-us-1">
            <span class="col-md-4 col-md-offset-4">Schedule your demo</span>
        </div>
        <div class="row join-us-2">
            <span class="col-md-6 col-md-offset-3">安排你的专属演示，发现合作契机。</span>
        </div>
        <button class="join-us-3">联系销售</button>
    </div>
    <div id="about-us" class="container">
        <div class="row">
            <span class="col-md-1 col-xs-2 col-xs-offset-2">Terms</span>
            <span class="col-md-1 col-xs-2">Privacy</span>
            <span class="col-md-1 col-xs-2">About</span>
        </div>
    </div>
</div>
<footer class="container" id="footer">
    <div id="footer-log">
        <p>© 2016 Zeninfor Co.,Ltd&nbsp&nbsp&nbsp沪ICP备16017154号-1</p>
        <img src="../img/logo_w.png">
    </div>
</footer>
<script src="../js/jquery.min.js"></script>
<script src="../js/config.js"></script>
</body>
</html>