<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="J1stio,Zeninfor"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Zeninfor</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body id="tell-us">
    <header class="container" >
    <div class="row">
        <div class="logo col-xs-2 ">
            <img src="../img/logo_h.png" id="logo-b">
        </div>
        <div  class=" col-md-3 col-xs-4">
            <span class="company-name">返回</span>
        </div>
    </div>
    </header>
    <div class="header-linear container">
        <h1>J1ST DO IT.</h1>
        <button>Sign up</button>
    </div>
    <div class="text-schedule container">
        <div class="row">
            <span class="col-md-8 col-md-offset-2 span-first">Schedule your demo</span>
            <span class="col-md-8 col-md-offset-2 span-second">安排你的专属演示，发现合作契机。</span>
        </div>
    </div>
    <div class="container" id="mail-form">
        <form>
            <div class="two-input-group row">
                <div class="form-group two-input col-md-5 ">
                    <input placeholder="姓 名" class="form-control">
                </div>
                <div class="form-group two-input col-md-5 input-margin-left">
                    <input placeholder="电子邮件" class="form-control" >
                </div>
            </div>
            <div class="two-input-group row">
                <div class="form-group two-input col-md-5">
                    <input placeholder="手机号码" class="form-control">
                </div>
                <div class="form-group two-input col-md-5 input-margin-left">
                    <input placeholder="公司名称" class="form-control">
                </div>
            </div>
            <div class="form-group one-input-group">
                <input placeholder="办公地址" class="form-control">
            </div>
            <div>
                <select class="" id="select" >
                    <option value="">-选择行业或领域- </option>
                    <option value="">- 消费电子  Commercial Appliance</option>
                    <option value="">- 楼宇自动化  Automotive</option>
                    <option value="">- 设计 / 咨询  Design House / Consultant</option>
                    <option value="">- 工业自动化  Industrial Automation</option>
                    <option value="">- 照明 / 电工  Lighting / Electrician</option>
                    <option value="">- 分销及零售商  Retailer</option>
                    <option value="">- 电子硬件研发  Hardware R&D</option>
                    <option value="">- 风险投资者  Venture investor</option>
                </select>
            </div>
            <div>
                <textarea id="thought-idea" placeholder="具体说明您的需求和想法，谢谢！"></textarea>
            </div>
            <button type="submit" id="form-sub">联系销售</button>
        </form>
    </div>
    <div id="full-stack-two">
        <h1>Full-Stack</h1>
        <h3>IoT Startup</h3>
        <button>QuickStart</button>
    </div>
    <div id="about-us" class="container">
        <div class="row">
            <span class="col-md-1 col-xs-2 col-xs-offset-2">Terms</span>
            <span class="col-md-1 col-xs-2">Privacy</span>
            <span class="col-md-1 col-xs-2">About</span>
        </div>
    </div>
    <footer class="container" id="footer">
        <div id="footer-log">
            <p>© 2016 Zeninfor Co.,Ltd&nbsp&nbsp&nbsp沪ICP备16017154号-1</p>
            <img src="../img/logo_w.png">
        </div>
    </footer>
</body>
</html>