<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="J1stio,Zeninfor"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Zeninfor</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body data-spy="scroll" data-target="#term" id="term-prc">
<div>
    <div class="header-container" style="">
        <header class="container">
            <div class="row">
                <div class="logo col-xs-2 ">

                </div>
                <div  class=" col-md-3 col-xs-4">
                    <a  href="javascript:;" onClick="javascript:history.back(-1);" class="company-name">正因科技</a>
                </div>
            </div>
        </header>
    </div>
    <div class="row" id="term-body">
        <div class="col-xs-3 xs-hide " id="term">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                <li class="active"><a href="#section-1">声明</a></li>
                <li><a href="#section-2">用户的权利和义务</a></li>
                <li><a href="#section-3">正因科技收集的信息</a></li>
                <li><a href="#section-4">我们如何使用用户的信息</a></li>
                <li><a href="#section-5">我们如何共享用户的信息</a></li>
                <li><a href="#section-6">正因科技的权利和义务</a></li>
                <li><a href="#section-7">知识产权条款</a></li>
                <li><a href="#section-8">隐私相关条款</a></li>
                <li><a href="#section-9">服务暂停或终止</a></li>
                <li><a href="#section-10">协议修改内容</a></li>
                <li><a href="#section-11">免责事由</a></li>
                <li><a href="#section-12">法律适用及争端解决</a></li>
                <li><a href="#section-13">联系我们 </a></li>
            </ul>
        </div>
        <div class="col-xs-9" id="term-text">
            <h1 id="section-1">ZE 隐私条款</h1>
            <div id="front-tell">
                <p>
                    重要提示：上海正因信息科技有限公司（以下统称为：正因科技）依据本协议提供服务，本协议在用户和正因科技间具有合同上的法律效力。正因科技在此特别提醒用户认真阅读、充分理解本协议各条款，特别是其中所涉及的免除、限制正因科技责任的条款、对用户权利限制条款、争议解决和法律适用等。请审慎阅读并选择接受或不接受本协议。除非用户接受本协议所有条款，否则用户无权使用正因科技于本协议下所提供的服务。用户一经注册或使用本协议下任何服务即视为对本服务条款的充分理解和完全接受。用户违反本协议时正因科技有权依照其违反情况限制或停止向用户提供开放平台服务，并有权追究用户的相关责任。
                </p>
                <p>
                    本协议可由正因科技随时更新，更新后的协议及规则条款一旦公布即代替原来的条款，恕不再另行通知。在正因科技修改协议或规则条款后，如果用户不接受修改后的条款，请立即停止使用对应的服务，用户继续使用正因科技数据接入服务将被视为已接受了修改后的条款。
                </p>
                <h3>
                    如无特别说明，下列术语在本协议中的含义为
                </h3>
                <ul>
                    <li>1. 用户，指经有效申请并经过正因科技同意，将其开发的各种硬件功能数据接入J1ST.IO 平台的，具备民事行为能力的个人、法人或其他组织。如无特别说明，也称“第三方”。</li>
                    <li>2. J1ST.IO 平台，指由正因科技所拥有、控制、经营的物联网开放平台。</li>
                    <li>3. 数据，又称硬件功能数据，是指用户通过J1ST.IO 平台的所有数据交互。</li>
                </ul>
            </div>
            <h2 id="section-2">用户的权利和义务</h2>
            <ul>
                <li>1. 用户保证：对用户在J1ST.IO 平台发布的用户数据不得侵犯他人的用户隐私和权利，不侵犯任何组织或个人的合法权益，不违反任何法律、法规、条例或规章。对于用户行为所造成的任何法律责任，由用户单独承担，若由此给正因科技造成损失，则用户需足额赔偿。</li>
                <li>2. 用户必须合法使用正因科技授予其程序代码的Token（验证信息），不得违反本协议宗旨将该Token用于其他目的。Token是第三方应用接入J1ST.IO平台的凭证，用户应当承担其保管责任，用户不得授权其他单位户或个人使用其Token，并就该Token项下之一切活动负全部责任。用户须重视Token密码保护，对用户因被他人冒名而致的任何损失，正因科技不承担任何责任，若因此给正因科技造成损失，开发者需足额赔偿。</li>
            </ul>
            <h2 id="section-3">正因科技收集的信息</h2>
            <ul>
                <li>1. 个人信息，我们收集个人信息与非个人信息。个人信息用于确认用户或其用户的个人身份，包括姓名、地址、电话号码和电子邮件地址等内容。我们在用户使用J1ST.IO服务以及与J1ST.IO服务互动的过程中收集个人信息，这些过程包括用户通过软件、网站或第三方软件进行通信，注册J1ST.IO账号，通过软件、网站或第三方软件发布信息与内容，向正因科技发送电子邮件或其他通信信息，或通过J1ST.IO云、启动设备或其他方式向正因科技发送个人信息。此外，软件或第三方软件还可自动收集个人信息，激活的设备也可直接向J1ST.IO云发送个人信息。请注意，安装于用户设备的特定软件可能会访问设备中的其他文件，如用户的联系人、照片、音频与视频剪辑以及用户的联系信息等。如果用户通过第三方软件启动设备，则除了设备直接向正因科技发送信息之外，此类第三方软件也可能将用户的个人信息发送给正因科技，或取代设备将用户的个人信息发送给正因科技。请注意，所有收集用户信息的第三方对个人信息的收集、使用、发布、保留及其他行为都遵守该第三方隐私政策的规定，不受正因科技的控制。如果用户是J1ST.IO客户（如可以在J1ST.IO云激活的设备的制造商），正因科技将通过第三方软件、设备、数据源或用户与J1ST.IO商定的其他方式收集用户的个人信息（包括有关用户及用户的最终个人信息）。 </li>
                <li>2. 非个人信息，非个人信息不用于确认用户或其他用户的个人身份，包括统计信息、人口信息以及不涉及用户或其他用户个人身份的所有其他信息。我们与第三方服务提供商可能通过用户、设备、软件、第三方软件或其他方式收集非个人信息。非个人信息包括以下内容：
                    <ul style="margin-bottom: 20px">
                        <li>（a） 用户设备的唯一ID（“UUID”），设备的MAC地址，以及设备的IP地址；</li>
                        <li>（b）设备的无线连接信息；</li>
                        <li>（c）设备的操作系统类型与版本，浏览器类型与版本，推送通知标识符，以及移动网络信息；</li>
                        <li>（d） 流量数据，位置数据，日志，通信数据，以及您通过软件、网站或第三方软件使用的资源数据；</li>
                        <li>（e）设备的实时位置信息；</li>
                        <li>（f）设备的使用、性能与诊断信息；</li>
                        <li>（g）无法确认用户或其他用户个人身份的统计信息；</li>
                        <li>（h）设备中其他文件（如照片、音频与视频剪辑、个人联系人和地址薄信息）相关的元数据以及其他信息。 </li>
                    </ul>
                </li>
                <li>3. Cookies和其他技术 用户在访问网站时，正因科技可能会向用户的设备发送一个或多个“cookies”（一种小型数据文件），用于识别用户的浏览器，帮助用户更快登录，提供更好的导航体验。如果用户使用第三方软件，则软件提供商可能会向用户的设备发送一个或多个cookies。Cookies帮助正因科技了解网站访客总数、各页面访客数、用户如何使用J1ST.IO服务、如何与J1ST.IO服务互动，以及互联网服务提供商的域名等信息。用户可以重置网络浏览器以拒绝所有cookies，也可以在发送cookie时声明。如果用户不希望在设备上安装cookies，多数浏览器都提供简单方法帮助用户拒绝cookies。请注意，如果用户的设备拒绝接收cookies，网站和服务的部分功能可能无法正常运作。 </li>
                <li>4. IP地址与UUID，IP地址是由互联网服务提供商自动分配给设备的编号，UUID （或类似ID）是设备的唯一标识符，MAC地址则是分配给设备的唯一编号。当您访问网站、使用连接到J1ST.IO云的软件、或激活与J1ST.IO云连接的设备时，服务器日志文件将自动确认并记录用户的IP地址、UUID和/或MAC地址、访问时间、所访问网页，以及所使用的软件特性。收集IP地址是互联网的标准行为，许多网站都会自动收集IP地址。请注意，正因科技将IP地址、UUID、MAC地址、服务器日志文件及相关信息视为非个人信息，除非在相关法律要求下将此类信息作为个人信息处理。 </li>
                <li>5. 追踪 正因科技尊重 “请勿追踪”信号标识或类似技术。如果您的设备部署了此类“请勿追踪”（DNT）浏览器机制，正因科技将不会追踪、不会使用cookies或广告。 </li>
            </ul>
            <h2 id="section-4">正因科技将如何使用用户的信息</h2>
            <ul>
                <li>1. 个人信息，正因科技可能会通过下列方式使用用户的个人信息： </li>
                <li>
                    <ul style="list-style: disc;padding-left: 2em;text-indent: 0">
                        <li>用户在J1ST.IO网站注册后为用户创建账户。</li>
                        <li>根据对设备的诊断信息与用户建立联系，以提供帮助。</li>
                        <li>满足用户的要求，回应用户的查询，提供服务，或完成用户要求的交易。</li>
                        <li>告知用户可能感兴趣的服务。在以上行为中，我们向用户发送的信息可能含有相关说明，用户可以拒绝继续接受此信息。</li>
                        <li>向用户发送重要服务信息、条款与政策变更、和/或其他管理信息。因为这些信息非常重要，用户可能无法拒绝接受此类信息。</li>
                        <li>解决服务问题或其他用户问题。</li>
                        <li>用于内部业务目的，如数据分析、审计、开发新产品或服务、提高及改进服务、了解使用情况等。</li>
                        <li>用于正因科技认为必要或适当的用途，包括：</li>
                            <ul>
                                <li>（a）为了符合法律许可，包括用户所在国家或居住地区以外的法律；</li>
                                <li>（b）为了符合法律程序；</li>
                                <li>（c）回应公众与政府当局的要求，包括用户所在国家或居住地区以外的公众与政府当局的要求；</li>
                                <li>（d）实施正因科技的条件与条款；</li>
                                <li>（e）保护正因科技的运营、业务与系统；</li>
                                <li>（f）保护正因科技的权利、隐私、安全或财产，和/或包括用户在内的其他用户的权利、隐私、安全或财产；</li>
                                <li>（g）帮助正因科技实施补救措施或限制可能的损失。</li>
                            </ul>
                    </ul>
                </li>
                <li>2. 非个人信息，非个人信息无法以任何方式泄露用户的身份，因此正因科技可以出于任何目的使用及分享非个人信息，包括将其用于内部业务用途。如果非个人信息与用户的个人信息结合在一起，正因科技将视为个人信息。</li>
            </ul>
            <h2 id="section-5">正因科技将如何共享用户的信息</h2>
            <ul>
                <li>1.个人信息，正因科技不会因营销目的而出售用户的个人信息。正因科技将有限度的限制以下个人信息的发布。正因科技可能会向以下机构发布用户的个人信息： </li>
                <li>
                    <ul style="list-style: disc;margin-top: 0;text-indent: 0">
                        <li>
                            向第三方服务提供商发布，这些服务提供商为我们行使特定业务功能，如网站托管、数据分析、支付与信用卡处理、基础设施配置、IT服务、客户服务、电子邮件投递服务，以及其他类似服务。
                        </li>
                        <li>向正因科技的客户以及其他业务附属机构发布，这些机构直接或间接为用户提供设备激活、第三方软件和/或网络与系统，供用户访问及使用网站、软件和/或J1ST.IO云，或向正因科技传送信息。</li>
                        <li>在正因科技的全部或部分业务、资产或股票进行重组、合并、出售、成立合资企业、分配、转让或其他（包括但不限于破产或类似流程）情况下，向关联机构或其他第三方发布。</li>
                        <li>在正因科技认为必要或适当的情况下发布，包括：</li>
                        <ul style="margin-top: 0">
                            <li>(a) 为了符合法律许可，包括用户所在国家或居住地区以外的法律；</li>
                            <li>(b)为了符合法律程序；</li>
                            <li>(c)回应公众与政府当局的要求，包括用户所在国家或居住地区以外的公众与政府当局；</li>
                            <li>(d)实施正因科技的条件与条款；</li>
                            <li>(e)保护正因科技的运营、业务与系统；</li>
                            <li>(f)保护正因科技的权利、隐私、安全或财产，和/或包括用户在内的其他用户的权利、隐私、安全或财产；</li>
                            <li>(g)帮助正因科技实施补救措施或限制可能的损失。</li>
                        </ul>
                        <li>除上文所述第三方外，向其余第三方的发布必须征得用户的同意。请注意，我们无法控制第三方对用户信息的使用或发布。</li>
                    </ul>
                </li>
                <li>2.非个人信息，非个人信息无法以任何方式泄露用户的身份，因此正因科技可能出于任何目的与任何第三方分享非个人信息。</li>
            </ul>
            <h2 id="section-6">正因科技的权利和义务</h2>
            <ul>
                <li>1. 正因科技有权审查开发者是否具备合法的上传数据资格。</li>
                <li>2. J1ST.IO拥有合作过程中涉及到的J1ST.IO品牌和所有产品及服务内容知识产权，以及上述J1ST.IO品牌、知识产权在合作过程中产生的衍生品的全部合法权益。</li>
                <li>3. 用户因违反相关法律法规而被取缔运营，或因违规操作被网络监管部门查封所引发的全部责任，由用户独立承担。情节严重并给正因科技带来不利影响的，开发者须赔偿正因科技所有损失，并恢复正因科技声誉，此情况下正因科技有权单方终止本协议。<br/>如发现用户有违法行为，或其上传的用户数据中包含违法信息或可能侵犯他人合法权益的信息，无论是否已造成不良后果，正因科技均有权要求用户立即停止违法行为或更换、修改违法内容，或者单方终止本服务协议，并且有权要求用户赔偿由此给正因科技造成的损失。</li>
                <li>4. 如发生下列任一情形，正因科技有权以普通或非专业人员的知识水平标准对相关内容进行判别，如认为这些内容或行为具有不合理或违法的情形，正因科技有权删除相关信息，或终止或暂停对该用户提供服务。</li>
                <ul style="margin-top: 0">
                    <li>（1）其他第三方对某个开发者或具体事项持有异议并书面通知正因科技；</li>
                    <li>（2）其他第三方向正因科技书面告知J1ST.IO 平台上有违法或不当情形的。</li>
                </ul>
                <li>5. 正因科技可将本协议下的权利和义务的部分或全部转让给他人，如果用户不同意正因科技的该转让，则有权停止使用本协议下服务。如果用户和平台用户继续使用，则视为用户和平台用户对此转让予以接受。</li>
                <li>6.  用户违反平台使用规则时，正因科技有权依照J1ST.IO的认识判断决定并采取以下行动，终止与开发者的服务协议关系，以及其他J1ST.IO认为适合的处理方式。</li>
                <li>7. 正因科技可通过网页公告、电子邮件、手机短信或常规的信件传送等方式向用户发出通知，该等通知在发送时即视为已送达收件人。</li>
            </ul>
            <h2 id="section-7">知识产权条款</h2>
            <ul>
                <li>1. J1ST.IO 平台上所有内容，均由正因科技或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。非经正因科技或其他权利人书面同意任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表J1ST.IO 平台上的内容。</li>
                <li>2. 用户应在其数据服务中向相关权利人提供知识产权投诉途径，确保权利人可以向用户主张权利。</li>
            </ul>
            <h2 id="section-8">隐私相关条款</h2>
            <ul><li> 正因科技重视对用户及平台用户隐私的保护，保护隐私是正因科技的一项基本政策。如发生下列任一情况，正因科技有权对用户的信息予以披露：</li></ul>
            <ul>
                <li>（1）经用户本人同意披露的；</li>
                <li>（2）根据法律的有关规定，应相关第三人、行政机构或司法机构的要求，需要向其披露的；</li>
                <li>（3）用户出现违反中国有关法律、法规、规章、政策的情形，需要向他人披露的；</li>
                <li>（4）正因科技基于为用户和平台用户服务的目的而认为合适披露的其他情形；</li>
            </ul>
            <h2 id="section-9">服务暂停或终止</h2>
            <ul>
                <li>1.  用户应确保自身在注册时填写的姓名（名称）、地址、电子邮箱等相关资料真实、准确，若有更新的，开发者应在三个工作日内予以更新，如正因科技发现其不真实或不准确的，正因科技有权暂停或终止向其提供本协议下服务,由此产生的一切法律责任由用户自行承担。</li>
                <li>2. 如用户书面通知正因科技不接受经正因科技修改的新的服务协议的，正因科技有权随时暂停或终止向其提供本协议下服务。</li>
                <li>3. 本协议约定的其他协议终止条件发生或实现的，正因科技有权随时暂停或终止向用户提供本协议下服务。</li>
                <li>4. 在用户违反本协议规定时，正因科技有权随时暂停或终止向该用户提供部分或全部开放平台服务。如该用户后续再直接或间接或以他人名义注册并登录J1ST.IO 平台的， 正因科技有权直接单方面暂停或终止提供本协议下服务。</li>
                <li>5. 在合作期限内，因不可抗力因素导致授权程序无法继续运营的，双方可协商终止协议。</li>
                <li>6. 如本协议服务终止，正因科技有权保留或删除开发者账号中的任何信息，且有权拒绝将该信息发还给用户，也有权保存或删除用户的全部相关数据，包括服务终止前用户尚未完成的任何数据。</li>
                <li>7. 在用户存在违反法律法规或国家相关政策规定时，正因科技有权随时暂停或终止向该用户提供部分或全部开放平台服务。如该用户后续再直接或间接（如以他人名义）注册并登录J1ST.IO 平台的，正因科技有权直接单方面暂停或终止提供本协议下服务。</li>

            </ul>
            <h2 id="section-10">协议修改内容</h2>
            <ul>
                <li>1. 本协议内容包括协议正文及所有正因科技已经发布的或将来可能发布的J1ST.IO 平台相关规则。上述规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。</li>
                <li>2. 正因科技有权根据需要不时地制订、修改本协议或各类规则，且毋须另行通知。其一旦发生变动，正因科技将会在相关页面上公布修改后的协议或规则，如果用户不同意所改动的内容，应主动取消服务，如果继续使用服务，则视为接受协议或规则的变动。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。</li>
            </ul>
            <h2 id="section-11">免责事由</h2>
            <ul>
                <li>1. 鉴于网络服务的特殊性，开发者同意正因科技会变更、中断部分或全部的网络服务，并按本协议规定删除用户在使用“服务”中提交的任何资料，而无需通知用户，也无需承担任何责任。</li>
                <li>2. 正因科技有权定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务在一定时间内的中断或暂停，正因科技无需为此承担任何责任。</li>
                <li>3. 如发生下述任一情况而导致服务中断及开发者损失的，正因科技不承担责任：</li>
                <li>
                    <ul style="margin-top: 0">
                        <li>（1）发生不可抗力情形的；</li>
                        <li>（2）黑客攻击、计算机病毒侵入或发作的；</li>
                        <li>（3）计算机系统遭到破坏、瘫痪或无法正常使用的；</li>
                        <li>（4）电信部门技术调整的；</li>
                        <li>（5）因政府管制而造成暂时性关闭的；</li>
                        <li>（6）其它非因正因科技的过错而引起的。</li>
                    </ul>
                </li>
            </ul>
            <h2 id="section-12">本协议的解释，法律适用及争端解决</h2>
            <ul>
                <li>1.正因科技对本协议条款拥有解释权。</li>
                <li>2.本协议的有效性、履行和与本协议及其修订本效力有关的所有事宜，将受中华人民共和国大陆法律管辖，任何争议仅适用中华人民共和国大陆法律。</li>
            </ul>
            <h2 id="section-13">联系我们 </h2>
            <ul>
                <li>如果您有任何有关J1ST.IO隐私策略或本《隐私政策》的问题，请通过电子邮件与我们联系，邮件地址：support@zeninfor.com </li>
            </ul>
            <ui style="height: 600px;display: block">

            </ui>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>